.product-card
    .badge
        .badge-text 10
    .card-inner-wrapper
        a(href="#")
            .product-image
                img(src="unnamed.jpg", alt="Product name here")
        .product-name
            a(href="#")
                p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde possimus ab tempora voluptas quaerat at rem nemo qui ducimus quos molestias iste, earum veniam quas accusamus alias fugit eius saepe. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde possimus ab tempora voluptas quaerat at rem nemo qui ducimus quos molestias iste, earum veniam quas accusamus alias fugit eius saepe.
        .card-footer-group
            .product-rating
                .rating
            .product-price
                .list-price.
                    5 5555 550$
                .discount-price 100$
            .product-action
                button.btn.btn-primary Add to cart